body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(75, 255, 75);
    background: black;
}

.table-container {
    height: 625px;
    overflow-y: auto;
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    border: 1px solid white;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    background-color: black;
    border: 1px solid white;
    z-index: 1;
}